

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body *{
	font-family: 'PT Mono', monospace;
	color: rgb(210,66,47);
	outline-style: none;
}

body {
  height: 100%;
  background: #000;
  min-width: 100%;
  min-height: 100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  touch-action: none;
  speak: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}


.navigation {
	min-width: 100vw;
	min-height: 100%;
	display: block;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease-in-out;
}

.showNavigation {
	opacity: 1;
	pointer-events: all;
}

.main-logo {
	position: absolute;
	top: 45px;
	left: 45px;
	width: 66px;
}

.button {
	position: absolute;
	cursor: pointer;
	text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 12px;
}

.button:hover {
	color: #fff;
}

.button.button__about {
	right: 45px;
	top: 45px;
}

.button-block {
	position: absolute;
	right: 45px;
	bottom: 45px;
	width: 120px;
	height: 120px;
	text-align: right;
}

.button-block .button img {
	width: 23px;
	height: 23px; 
	transition: all .4s ease-in-out;
}

.button-block .button img:hover {
	transform: scale(1.2);
} 

.button-block .button {
	position: relative;
	display: block;
	padding: 10px 0;
}

.button-block .button__mute-off {
	display: none;
	padding-left: 94px;
}

.button-block .button__mute-off img {
	width: 45px;
}

.button-block .button__open-share-donate {
	position: relative;
}

.share-donate-block .button {
	display: inline-block;
	margin-right: 10px; 
}

.share-donate-block {
	display: none;
    position: absolute;
    top: 3px;
    left: -50px;
}

.comment-form {
	position: absolute;
	bottom: 45px;
	left: 45px;
	display: none;
}

.show_comments {
	position: absolute;
	bottom: 44px;	
	cursor: pointer;
	left: 45px;
	text-transform: uppercase;
	font-size: 12px;
}

.show_comments:hover {
	color: #fff;
}

.comment-form input {
	background: transparent;
	width: 350px;
	border: none;
	
	/*color: transparent;
	text-shadow: 0 0 0 rgb(210,66,47);*/
	cursor: pointer;
}

.comment-form .comment-submit {
	background: transparent;
	border: none;
	text-transform: uppercase;
}

.comment-box {
	height: 150px;
	max-width: 350px;
	margin-bottom: 50px;
	padding-right: 6px;
	overflow: hidden;
}

.comment-text {
	font-size: 12px;
	word-wrap: break-word
}

/*.comment input:focus {
  animation: blink-empty 1s infinite;
  border-left: transparent solid 1px;
  border-top: none;
  border-right: none;
}*/

@keyframes blink-empty {
  50% {border-left: 1px solid rgb(210,66,47);}
}


video#videobg { 
    top: 50%;
    left: 50%;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    z-index: -100;
    position: absolute;
    width: 100%;
}

video#videobg:-webkit-full-screen {
	transform: translate(0);
}

video#videobg:-ms-fullscreen {
	width: auto;
	height: auto;
	margin: auto;
}

.about_pop-up .container {
	height: 100%;
	flex-direction: column;
	-webkit-box-orient: column;
	-webkit-box-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}

.about_pop-up .row {
	position: relative;
}

.about_pop-up {
	display: none;
	background: rgba(0,0,0,.9);
    position: absolute;
    min-height: 700px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.about_pop-up .about_title {
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height: 60px;
	letter-spacing: 2.8px;
}

.about_pop-up .about_text {
	font-size: 12px;
	line-height: 27px;
	margin-top: 40px
}

.about_pop-up .button_close {
	width: 32px;
	right: 0;
	top: 15px;
	transition: all .4s ease-in-out;
}

.about_pop-up .button_close:hover {
	transform: scale(1.2);
}

.about_pop-up .button_about-block {
	display: inline-block;
	margin-top: 50px;
	margin-right: 15px; 
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
}

.about_pop-up .button_about-block:hover {
	color: #fff;
}

.about-info-block {
  	-webkit-animation-duration: 1s;
  	-moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
}

.fall{
   cursor:default;
   font-size:10px;
   z-index:999999999999;
   color:#f00;
}

@media screen and (max-width:765px) {
	.button-block {
		top: 70px;
	}

	.comment-text {
		font-size: 12px;	
	}

	.comment-box {
		width: 250px;
		margin-bottom: 5px;
		height: 200px;
	}

	.about_pop-up .about_title {
		font-size: 20px;
    	line-height: 40px;
	}

	.about_pop-up .button_close {
		top: 30px;
		right: 30px;
	}

	.about_pop-up .row {
		position: initial;
	}

	.comment-form {
		display: none;
	}

	.main-logo img {
		width: 50px;
	}
}














