body {
  height: 100%;
  background: #000;
  min-width: 100%;
  min-height: 100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  touch-action: none;
  speak: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

.show_comments {
  position: absolute;
  bottom: 44px;
  cursor: pointer;
  left: 45px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.4px; }
  .show_comments:hover {
    color: #fff; }

.comment-form {
  position: absolute;
  bottom: 45px;
  left: 45px;
  display: none; }
  .comment-form .comment-box {
    max-width: 350px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative; }
    .comment-form .comment-box .comment-text {
      font-size: 12px;
      word-wrap: break-word; }
  .comment-form input {
    background: transparent;
    width: 350px;
    border: none;
    font-size: 11px;
    cursor: pointer; }

.last-comment {
  animation: fadeIn 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.button-block {
  position: absolute;
  right: 45px;
  bottom: 35px;
  width: 130px;
  text-align: right; }
  .button-block .button {
    position: relative;
    display: block;
    padding: 10px 0; }
    .button-block .button img {
      width: 23px;
      height: 23px;
      transition: transform .4s ease-in-out; }
  .button-block .img-scale:hover {
    transform: scale(1.15); }
  .button-block .button__mute-off {
    display: none;
    padding-left: 104px; }
    .button-block .button__mute-off img {
      width: 45px; }
  .button-block .button__quality {
    font-size: 17px; }
    .button-block .button__quality .current-quality {
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer; }
      .button-block .button__quality .current-quality img {
        width: 24px;
        height: 24px; }
    .button-block .button__quality .quality__holder {
      display: none;
      position: absolute;
      top: 12px;
      left: -50px;
      cursor: pointer; }
      .button-block .button__quality .quality__holder .img_quality-holder {
        margin: 0 3px; }
        .button-block .button__quality .quality__holder .img_quality-holder img {
          display: none; }
        .button-block .button__quality .quality__holder .img_quality-holder span {
          font-size: 23px; }
          .button-block .button__quality .quality__holder .img_quality-holder span:hover:before {
            color: #fff; }
      .button-block .button__quality .quality__holder * {
        display: inline-block; }
  .button-block .button__choose-chanel {
    font-size: 17px; }
    .button-block .button__choose-chanel .current-chanel {
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer; }
      .button-block .button__choose-chanel .current-chanel img {
        width: 24px;
        height: 24px; }
    .button-block .button__choose-chanel .chanel__holder {
      display: none;
      position: absolute;
      top: 11px;
      left: -50px;
      cursor: pointer;
      width: 128px; }
      .button-block .button__choose-chanel .chanel__holder .img_chanel__holder {
        margin: 0 3px; }
        .button-block .button__choose-chanel .chanel__holder .img_chanel__holder img {
          display: none; }
        .button-block .button__choose-chanel .chanel__holder .img_chanel__holder span {
          font-size: 25px; }
          .button-block .button__choose-chanel .chanel__holder .img_chanel__holder span:hover:before {
            color: #fff; }
      .button-block .button__choose-chanel .chanel__holder * {
        display: inline-block; }
  .button-block .button__open-share-donate {
    position: relative; }
    .button-block .button__open-share-donate .share-donate__holder {
      display: none;
      position: absolute;
      top: 3.5px;
      left: -50px;
      width: 140px; }
      .button-block .button__open-share-donate .share-donate__holder .button {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer; }

.fadeOutRight {
  -webkit-animation: fadeOutRight 0.5s forwards;
  -moz-animation: fadeOutRight 0.5s forwards;
  -o-animation: fadeOutRight 0.5s forwards;
  animation: fadeOutRight 0.5s forwards; }
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden;
    left: -4px; } }
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden;
    left: -4px; } }
@-o-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden;
    left: -4px; } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden;
    left: -4px; } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s forwards;
  -moz-animation: fadeInLeft 0.5s forwards;
  -o-animation: fadeInLeft 0.5s forwards;
  animation: fadeInLeft 0.5s forwards; }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -4px;
    visibility: hidden; }
  100% {
    opacity: 1;
    left: -50px; } }
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -4px;
    visibility: hidden; }
  100% {
    opacity: 1;
    left: -50px; } }
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -4px;
    visibility: hidden; }
  100% {
    opacity: 1;
    left: -50px; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -4px;
    visibility: hidden; }
  100% {
    opacity: 1;
    left: -50px; } }
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ozwrh8");
  src: url("../fonts/icomoon.eot?ozwrh8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ozwrh8") format("truetype"), url("../fonts/icomoon.woff?ozwrh8") format("woff"), url("../fonts/icomoon.svg?ozwrh8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-CHANNEL:before {
  content: "\e900";
  color: #d2422f; }

.icon-HD_icon:before {
  content: "\e901";
  color: #d2422f; }

.icon-HD_plus_icon:before {
  content: "\e902";
  color: #d2422f; }

.icon-SD_icon:before {
  content: "\e903";
  color: #d2422f; }

.icon-SHUFFLE:before {
  content: "\e904";
  color: #d2422f; }

.icon-UKHO_CHANNEL:before {
  content: "\e905";
  color: #d2422f; }

.logo_video-description {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 66px;
  z-index: 2147483647;
  display: flex;
  align-items: center; }
  .logo_video-description .main-logo {
    cursor: pointer; }
    .logo_video-description .main-logo img {
      width: 66px;
      height: 66px; }
  .logo_video-description .video-description {
    height: 40px;
    margin-left: 15px; }
    .logo_video-description .video-description .description_block:first-child {
      display: flex; }
      .logo_video-description .video-description .description_block:first-child .title {
        padding-left: 10px; }
        .logo_video-description .video-description .description_block:first-child .title:before {
          content: "-";
          padding-right: 10px; }
    .logo_video-description .video-description p {
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden; }

body * {
  font-family: 'PT Mono', monospace;
  color: #d2422f;
  outline-style: none; }

.navigation {
  min-width: 100vw;
  min-height: 100%;
  display: block;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out; }

.showNavigation {
  opacity: 1;
  pointer-events: all; }

.button {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 12px; }
  .button img {
    cursor: pointer; }
  .button:hover {
    color: #fff; }
  .button.button__about {
    right: 45px;
    top: 45px;
    cursor: pointer; }

#video-wrap video#videobg {
  top: 50%;
  left: 50%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  z-index: -100;
  position: absolute;
  width: 100%; }
  #video-wrap video#videobg:-webkit-full-screen {
    transform: translate(0); }
  #video-wrap video#videobg:-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto; }
#video-wrap .spinner {
  top: 50%;
  left: 50%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  z-index: -101;
  position: absolute;
  width: 130px; }

.about_pop-up {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .about_pop-up .container {
    height: 100vh;
    flex-direction: column;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .about_pop-up .about_title {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 2.8px; }
  .about_pop-up .about_text {
    font-size: 12px;
    line-height: 27px;
    margin-top: 15px; }
  .about_pop-up .about_text:last-child {
    margin-top: 5px;
    line-height: 5px; }
  .about_pop-up .button_close {
    width: 32px;
    right: 45px;
    top: 45px;
    transition: all .4s ease-in-out; }
    .about_pop-up .button_close:hover {
      transform: scale(1.15); }
  .about_pop-up .button_about-block {
    display: inline-block;
    margin-top: 50px;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1.4px; }
    .about_pop-up .button_about-block:hover {
      color: #fff; }

/*.about_pop-up .row {
	position: relative;
}*/
.about-info-block {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s; }

.fall {
  cursor: default;
  font-size: 10px;
  z-index: 999999999999;
  color: #f00; }

@media screen and (max-width: 765px) {
  .comment-text {
    font-size: 12px; }

  .comment-box {
    width: 250px;
    margin-bottom: 5px;
    height: 200px; }

  .about_pop-up .about_title {
    font-size: 18px;
    line-height: 20px; }
  .about_pop-up .button_close {
    top: 45px;
    right: 45px; }
  .about_pop-up .row {
    position: initial; }

  .comment-form, .show_comments {
    display: none; }

  .main-logo img {
    width: 50px; }

  .about_pop-up .about_text {
    margin-top: 15px; }
  .about_pop-up .button_about-block {
    margin-top: 20px; }
  .about_pop-up .button_close {
    width: 25px; } }

/*# sourceMappingURL=main.css.map */
