.logo_video-description 
	position: absolute
	top: 45px
	left: 45px
	width: 66px
	z-index: 2147483647
	display: flex
	align-items: center

	@include mobile
		flex-direction: column
		align-items: flex-start
		top: 20px
		left: 20px

	.main-logo 

		img 
			width: 66px
			height: 66px

			@include mobile
				width: 45px
				height: 45px
	
	.video-description
		min-height: 45px
		margin-left: 15px
		font-size: 12px

		@include mobile
			margin: 15px 0 0 0 

		.description_block
			width: 700px

			@include mobile
				font-size: 12px
				width: 280px

		p
			margin: 0 auto
			display: block