body {
  height: 100%;
  background: #000;
  min-width: 100%;
  min-height: 100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  touch-action: none;
  speak: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}